/* ./src/index.css */
/* Importacion de tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos generales */
.visible-auto {
  content-visibility: auto;
}

.cameraScaner > section {
  border-radius: 5px !important;
  height: 100vh !important;
}

.btn-outline {
  @apply border-2 border-opacity-75;
}

.btn {
  @apply rounded-lg
  flex justify-center items-center
  px-2 py-1 m-2
  font-semibold
  focus:outline-none;
}
